:root {
  --Primary-Brand-color: #4d5ae5;
  --Dark-color: #2e2f42;
  --Success-color: #31d0aa;
  --Text-color: #434455;
  --Subtle-Text-color: #8e8f99;
  --Accent-color: #e7e9fc;
  --Light-color: #f4f4fd;
  --hover-color: #404bbf;
  --white-color: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--Text-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
}

a:active {
  background-color: var(--Primary-Brand-color);
}

/* <!--Header--> */
.header {
  background-color:var(--white-color);
  border-bottom: 
  1px solid
  #e7e9fc;
}

.header-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--Dark-color);
  text-decoration: none;
}

.current {
color: var(--Primary-Brand-color)
}

.header-link:hover,
.header-link:focus {
  color: var(--hover-color);
}

.header-menu-link {
  color: var(--Dark-color);
}

.logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--Dark-color);
  text-decoration: none;
}

.logo:hover,
.logo:focus {
  color: var(--hover-color);
}

.logo-word {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: var(--Primary-Brand-color);
}

.header menu {
  color: var(--Dark-color);
}

.contacts {
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--Text-color);
}
.contacts:hover,
.contacts:focus {
  color: var(--hover-color);
}

/* <!--Section 0--> */

.main-banner {
  background-color: var(--Dark-color);
}

.banner-logo {
  font-weight: 600;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white-color);
}

.btn {
 font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);

  padding: 16px 32px;
  gap: 10px;
  background: var(--Primary-Brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: var(--hover-color);
}

/* <!--Section 1--> */
.main-section {
  background: var(--Light-color);
}

.main-list {
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--Dark-color);
}

.text {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* <!--Section 2--> */

.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--Dark-color);
}

.about-list {
}

.about-img {
}

/* <!--Section 3--> */
.team-warp {
  background-color: var(--Light-color);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--Dark-color);
}

.team-list {
}

.name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--Dark-color);
}

.position {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

/* <!--Footer--> */

.footer-text {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--Accent-color);
}

.footer-wrap {
  background-color: var(--Dark-color);
}

.footer-logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--Light-color);
  text-decoration: none;
}

.footer-logo:hover,
.footer-logo:focus {
  color: var(--hover-color);
}

/* <!--Portfolio--> */

.sort-menu {
  background-color: #ffffff;
}

.sort-btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--Primary-Brand-color);
  box-sizing: border-box;

  padding: 8px 16px;
  background: var(--Light-color);
  border: 1px solid var(--Accent-color);
  border-radius: 4px;
  list-style: none;
  cursor: pointer;
}

.sort-btn:hover,
.sort-btn:focus {
  background: var(--hover-color);
  color: var(--Light-color);
}
.content-list {
}
.content-item {
}
.content-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--Dark-color);
}
.content-type {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
